@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.inputContainer {
    height: 50%;
    width: 100%;
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.inputContainer::before {
    content: "";
    position: absolute;
    background: #121212;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
    top: 0;
}

.header {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    z-index: 1;
}

.header h1 {
    font-size: 2rem;
}

.header p {
    font-size: 1rem;
}

.inputAndGenerate {
    width: 50%;
    height: 13%;
    display: flex;
    align-items: center;
    position: relative;
    outline: none;
}

input {
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: 30px;
    outline: none;
}

button {
    width: 15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #4949e7;
    position: absolute;
    right: 5px;
    border: none;
    color: white;
}

input,
button:hover {
    cursor: pointer;
}

button:hover {
    background-color: #4848be;
}

.outputContainer {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2vw;
}

.outputContainer img {
    height: 35vh;
    width: 35vh;
    border-radius: 10px;
}